# Add directories, files, and symbolic links which should not be stored within
# the repository here.

# Helper files requiring special attention
!.gitignore
!.gitattributes

# Project files
/.idea/
/.vscode/

# OS specific temporary files
.DS_Store
Thumbs.db

# Docker overrides
/docker-compose.override.yaml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
