version: "3.8"

services:
  node:
    volumes:
      # Comment out the next line in production
      - ./:/srv/app
      - ./public/build/:/srv/app/public/build/
    command: ["yarn", "watch"]

  # redis:
  #     ports:
  #       - "6379:6379"

  # mariadb:
  #   ports:
  #     - "3306:3306"

  # postgres:
  #   ports:
  #     - "5432:5432"

  php:
    # Uncomment to customize local builds
    # build:
    #   args:
    #     APP_ENV: dev
    #     VERSION: ^5.1

    # Uncomment for SMTP catching
    depends_on:
      - mailhog

    volumes:
      - ./:/srv/app
      - ./var:/srv/app/var/
      - ./public/build/:/srv/app/public/build/
      - ./public/bundles/:/srv/app/public/bundles/
      # Use this to bring in your personal composer settings
      - "~/.composer:/root/.composer"

  nginx:
    # Uncomment to run on alternative port
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./public:/srv/app/public:ro
      - ./public/build/:/srv/app/public/build/
      - ./public/bundles/:/srv/app/public/bundles/

  # Uncomment for SMTP catching
  mailhog:
    container_name: symfony-mailhog
    build:
      context: ./
      dockerfile: ./docker/mailhog/Dockerfile
    ports:
      - "8025:8025"
