version: '3.1'

services:

    node:
        volumes:
            # Comment out the next line in production
            - ./:/srv/app:rw
        command: [ "yarn", "watch" ]

    redis:
        ports:
            -  '6379:6379'

    mariadb:
        ports:
            - '3306:3306'

    php:
        build:
            args:
                APP_ENV: dev
                VERSION: ^4.0
        volumes:
            # Comment out the next line in production
            - ./:/srv/app:rw
            # If you develop on Linux, comment out the following volumes to just use bind-mounted project directory from host
            - "php_sf_var:/srv/app/var"
            # Use this to bring in your personal composer settings
            - "~/.composer:/root/.composer"

    nginx:
        volumes:
            # Comment out the next line in production
            - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
            - ./public:/srv/app/public:ro

volumes:
    php_sf_var:
        driver: local
